* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (min-width:1440px) {
  .container {
    width: 1100px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.nav__hamburger {
  font-size: 25px;
  border: none;
  background-color: transparent;
}

.add__section {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  align-items: center;
}

.overview__text {
  color: #000;
  font-family: Lato;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btns {
  display: flex;
  gap: 32px;
}

.add__btn {
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  background: #10CD45;
  padding: 8px 12px;
  width: 71.094px;
  height: 35.501px;
}

.btn {
  width: 71.094px;
  height: 35.501px;
  flex-shrink: 0;
  border-radius: 5px;
}

table{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

table ,td,th{
  border-collapse: collapse;
  align-items: center;
  height: 66px;
}
tr {
  border: 1px solid gray;
}

tr:hover {
  background: #80bbe9;
}
.high__btn {
  width: 74px;
  height: 24px;margin: 0px 20px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--red-default, #F12B2C);
}
.high__btn__yellow {
  width: 74px;
  height: 24px;
  margin: 0px 20px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #FEC400;
}

.high__btn__green {
  width: 74px;
  height: 24px;
  margin: 0px 20px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #29CC97;
}
.table__img {
  display: flex;
  gap: 20px;
  padding: 0px 30px;
}
